//-------------------------------------------------------------
// Colors
//-------------------------------------------------------------
$accent-color:         #CE2029;
$call-to-action-color: #ff6138;
$border-color:         #c7cfdb;
$link-color:           $blue;
$primary-color:        #333;
$text-color:           #666;
$background-color:     $primary-color;
$secondary-color:      #999;

//-------------------------------------------------------------
// Fonts
//-------------------------------------------------------------

$font-family:         $helvetica;
$font-size:           14px;
$heading-font-family: $font-family;
